@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the class of AZ-204</h1>
    <p>Automated Deployment using GitHub.</p>
</div>
